.header
  background #1E88E5
  height 64px
  padding 0 20% 0 20%
  box-sizing border-box
  position relative
  vertical-align middle

.header .logo
  display inline-block

.header .header__new-site
  display inline-block
  position absolute
  right 20%
  top 15px
