.header {
  background: #1e88e5;
  height: 64px;
  padding: 0 20%;
  box-sizing: border-box;
  position: relative;
}
.header .logo {
  display: inline-block;
}
.header .header__new-site {
  position: absolute;
  right: 20%;
  top: 15px;
}
